/** @format */
@use "../abstracts";

html {
  --text-color: #1a162e;
  --icon-color: brightness(0) saturate(100%) invert(12%) sepia(22%)
    saturate(769%) hue-rotate(194deg) brightness(95%) contrast(100%);
  --body-bg: #f6f6f6;
  --header-bg-color: #eee;
  --top-act-group-color: #fff;
  --top-act-group-shadow: rgba(237, 237, 246, 0.2);
  --top-act-group-seperate: #ededf6;

  @include abstracts.breakpoints(lg) {
    --header-bg-color: #fff;
    --body-bg: #f4f4f5;
    --header-shadow-color: rgba(237, 237, 246, 0.2);
  }

  //Dropdown
  --dropdown-bg-color: #fff;
  --dropdown-shadow: rgba(200, 200, 200, 0.4);
  --dropdown-line-color: #d2d1d6;
  --dropdown-heading-color: #1a162e;

  //Navbar Mobile
  --navbar-bg-color: #fff;
  --navbar-text-color: #1a162e;
  --navbar-shadow-color: rgba(200, 200, 200, 0.4);
  --navbar-icon-color: brightness(0) saturate(100%) invert(6%) sepia(45%)
    saturate(1924%) hue-rotate(225deg) brightness(101%) contrast(94%);
}
